.carousel {
    max-width: 672px;
}

.carousel img {
    transition: all 0.1s ease-in;
}

.carousel img:hover {
    scale: 1.05;
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100% !important;
    }
}
