body {
    margin: 32px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.page-welcome {
    width: 50vw;
    max-width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}





.menu {
    display: flex;
    gap: 8px;
    list-style: none;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
    align-items: center;
}

.menu__item {
   text-decoration: none;
}

a, a:visited {
    text-decoration: none !important;
    color: #222;
    transition: color .2s;
}

a:hover, .navigation a:hover {
    color: #666;
}

a.active {
    font-weight: 600;
    border-bottom: 1px solid #222;
}

a.active:hover {
    color: #222;
}

.logo:hover, .logo:active, .logo:visited {
    color: #000;
}

img {
    max-width: 100%;
}


.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-accent {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.img-wrapper--circle {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.img-md {
    height: 150px;
    width: 150px;
}
.rounded-corners{
    border-radius:50px;
}


@media screen and (max-width: 440px) {

    .navigation {
        margin-bottom: 32px;
    }

    .page-welcome {
        width: 90vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        font-size: 16px;
    }
}
