.log-out {
    border: none;
    border-radius: 5px;
    background-color:transparent;
    gap: 8px;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: 2px 4px;
    transition: all 0.1s linear;
}
.log-out:hover {
    background-color: #222;
    color: #efefef;
}